.about {
    display: flex;

    div {
        width: calc(50% - 40px);
    }

    .aboutImage {
        margin-right: 20px;

        img {
            border-radius: 500px 500px 0 0;
        }
    }

    .aboutContent {
        margin-left: 20px;
    }
}