.about {
    display: flex;
    padding: 150px 0;

    div {
        width: calc(50% - 60px);
    }

    .aboutImage {
        margin-right: 30px;
        align-self: center;

        img {
            border-radius: 500px 500px 0 0;
        }
    }

    .aboutContent {
        margin-left: 30px;
    }
}