.contact {
    background-color: $secondaryBackground;

    .contactContainer {
        display: flex;
    
        div {
            width: calc(50% - 40px);
        }
    
        .contactInfo {
            margin-right: 20px;

            p {
                margin-bottom: 50px;
                padding-right: 20px;
            }

            ul {
                display: flex;
                margin-top: 15px;
                transition: 0.3s;
                
                li {
                    margin-right: 10px;

                    & a:hover,
                    & a:focus {
                        transform: scale(1.2);
                    }
                }
            }
        }
    
        .contactForm {
            margin-left: 20px;
            background-image: url(../assets/contactImage.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        form {
            display: flex;
            flex-direction: column;
            opacity: 0.7;
            width: 100%;

            input, 
            textarea, 
            .submit {
                border: none;
                padding: 15px;
            }

            input {
                border-bottom: 2px solid $bodyText;
            }
        
            textarea {
                resize: none;
            }

            .submit {
                border-top: 2px dotted $bodyText;
            }
        }
    }
}