footer {
    background-color: $secondaryBackground;
    
    p {
        text-align: center;
        margin: 0;

        a {
            &:hover, 
            &:focus {
                font-weight: bold;
            }
        }
    }
}