footer {
    background-color: $bodyText;
    
    p {
        text-align: center;
        margin: 0;

        a {
            padding: 10px 3px;

            &:hover, 
            &:focus {
                text-decoration: underline;
            }
        }
    }
}