header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../assets/headerImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    
    .headerContent {
        position: relative;

        ul {
            position: absolute;
            top: -130px;
            right: 160px;

            .emailLink {
                text-align: right;
            }

            a {
                background-color: $primaryAccent;
                padding: 20px 20px 10px 20px;
                border-radius: 500px 500px 0 0;
                margin-top: 10px;
            }
        }
    }
}