header {
    min-height: 100vh;
    background-color: $secondaryBackground;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerImg {
        width: 80%;
        min-height: 100vh;
        background-image: url(../assets/headerImage.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
       
    }
    
}