nav {
    background-color: $navBarBackground;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 10;
    padding: 30px 0 10px;

    .navBar {
        display: flex;
        justify-content: space-between;

        .mobileMenuButton {
                display: none;
            }
        
        ul {
            display: flex;
            align-items: flex-end;
            transition: 0.3s;

            li {
                margin-left: 25px;
                margin-bottom: 10px;

                a {
                    &:hover,
                    &:focus {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    .contactLink {  

        a {
            background-color: $secondaryBackground;
            padding: 20px 15px 8px 15px;
            border-radius: 500px 500px 0 0;
            border: 3px solid $bodyText;

            &:hover,
            &:focus {
                color: $white;
                background-color: $bodyText;
            }
        }
    }
} 
