.skills {
    background-color: $secondaryBackground;

    .skillsContent {
        display: flex;
        justify-content: space-between;
    }

    .skillsIntro {
        margin-right: 20px;
        width: calc(40% - 40px);
    }

    .skillsList {
            margin-left: 20px;
            width: calc(60% - 40px);
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

        li {
            display: flex;
            flex-direction: column-reverse;
            min-width: calc(20% - 40px);
            text-align: center;
            padding: 20px;

            .icon {
                @include fontSize(60);
                margin-bottom: 10px;
            }
        }
    }
}