html {
    font-size: 125%;
}

body {
    font-family: $bodyFont;
}

h1,  
h4, 
h5, 
button,  
footer {
    font-family: $primaryFont;
    text-transform: lowercase;
}

h3, 
nav ul, 
.projectContent li, 
::placeholder {
    text-transform: uppercase;
}

nav {
    h1 {
        @include fontSize(48);
        margin-top: 75px;
        margin-bottom: 10px;
    }

    ul {
        font-weight: bold;
        letter-spacing: 1px;
    }
}

header {
    color: $headerText;

    h2 {
        @include fontSize(82);
        margin-bottom: 0;
        font-family: $bodyFont;
        font-weight: normal;
        letter-spacing: 1px;
    }

    h3 {
        @include fontSize(24);
        letter-spacing: 2px;
        margin-top: 3px;
        text-transform: uppercase;
        text-align: right;
    }

    a {
        @include fontSize(20);
        color: $bodyText;
        font-style: italic;
        font-weight: bold;
        background-color: $primaryAccent;
    }
}

h4 {
    @include fontSize(45);
    margin-bottom: 40px;
}

h5 {
    @include fontSize(35);
    margin-bottom: 5px;
}

p {
    line-height: 28px;
}

.projectContent {
    li {
        @include fontSize(16);
        font-weight: bold;
        letter-spacing: 1px;
    }

    p {
        margin-top: 30px;
    }
}

.contact {
    i {
        @include fontSize(32);
    }
}

::placeholder {
    color: $bodyText;
    font-weight: bold;
    opacity: 1;
    @include fontSize(16);
    letter-spacing: 1px;
}

input, 
textarea {
    font-family: $bodyFont;
    color: $bodyText;
}

button {
    font-weight: bold;
    color: $bodyText;
    @include fontSize(25);
}