//Fonts
$primaryFont: 'Gaegu', cursive;
$bodyFont: 'DM Sans', sans-serif;

//Colours
$bodyBackground:#FCF8F8;
$navBarBackground: rgba(252, 248, 248, 0.5);
$secondaryBackground: #fcf8d9;
$headerText: #ffffff;
$bodyText:#0348C9;
$primaryAccent: #ffd482;
