//Fonts
$primaryFont: 'Gaegu', cursive;
$bodyFont: 'DM Sans', sans-serif;

//Colours
$bodyBackground:#fcf8f8;
$navBarBackground: rgba(255, 255, 255, 0.8);
$secondaryBackground: #eee2ee;
$bodyText:#033dab;
$white: #ffffff;
