//Fonts
$primaryFont: 'Gaegu', cursive;
$bodyFont: 'DM Sans', sans-serif;

//Colours
$bodyBackground:#FCF8F8;
$navBarBackground: rgba(252, 248, 248, 0.5);
$headerText: #ffffff;
$bodyText:#0348C9;
$primaryAccent: #f0fd71;
