.work {
    .projectContainer {
        display: flex;
        align-items: center;
        padding: 40px 0;
        
        div {
            width: calc(50% - 60px);
        }
        
        .projectImage {
            margin-right: 30px;
        }
        
        .projectContent {
            margin-left: 30px;
        }

        ul {
            display: flex;
            
            li {
                margin-right: 10px;
                transition: 0.3s;
            }
            
            a {
                color: $bodyText;
                padding: 5px;
                background-color: $secondaryBackground;
                border: 3px solid $bodyText;

                &:hover, 
                &:focus{
                    color: $white;
                    background-color: $bodyText;
                }
            }
        }
    }
}