.work {
    h4 {
        margin-bottom: 0;
    }

    p {
        margin-bottom: 40px;
    }

    .projectContainer {
        display: flex;
        align-items: center;
        padding: 40px 0;
        
        div {
            width: calc(50% - 60px);
        }
        
        .projectImage {
            margin-right: 30px;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 5px 5px 4px #eee2ee;
        }
        
        .projectContent {
            margin-left: 30px;
        }

        ul {
            display: flex;
            
            li {
                margin-right: 10px;
                transition: 0.3s;
            }
            
            a {
                color: $bodyText;
                padding: 10px;
                background-color: $secondaryBackground;
                border: 3px solid $bodyText;

                &:hover, 
                &:focus{
                    color: $white;
                    background-color: $bodyText;
                }
            }
        }
    }
}