html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: #033dab;
  background-color: #fcf8f8;
}

.skipLink {
  background-color: #eee2ee;
  color: #033dab;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-size: 1rem;
  text-transform: lowercase;
  text-decoration: underline;
  padding: 20px 0;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

section {
  padding: 80px 0;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  padding: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

html {
  font-size: 125%;
}

body {
  font-family: "DM Sans", sans-serif;
}

h1,
h4,
h5,
button,
footer {
  font-family: "Gaegu", cursive;
  text-transform: lowercase;
}

::-webkit-input-placeholder {
  text-transform: uppercase;
}

::-moz-placeholder {
  text-transform: uppercase;
}

:-ms-input-placeholder {
  text-transform: uppercase;
}

::-ms-input-placeholder {
  text-transform: uppercase;
}

h3,
nav ul,
.projectContent li,
::placeholder {
  text-transform: uppercase;
}

nav h1 {
  font-size: 48px;
  font-size: 2.4rem;
  margin-top: 75px;
  margin-bottom: 0;
}
nav ul {
  font-weight: bold;
  letter-spacing: 1px;
}
nav .mobileMenuButton {
  font-size: 36px;
  font-size: 1.8rem;
}

header {
  color: #ffffff;
}
header h2 {
  font-size: 94px;
  font-size: 4.7rem;
  margin-bottom: 0;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: right;
}
header h3 {
  font-size: 24px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-top: 3px;
  text-transform: uppercase;
  text-align: right;
}

h4 {
  font-size: 60px;
  font-size: 3rem;
  margin: 40px 0;
}

h5 {
  font-size: 35px;
  font-size: 1.75rem;
  margin: 5px 0;
}

p {
  line-height: 28px;
}

.projectContent li {
  font-size: 16px;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.projectContent p {
  margin-top: 30px;
}

.contact i {
  font-size: 32px;
  font-size: 1.6rem;
}

::-webkit-input-placeholder {
  color: #033dab;
  font-weight: bold;
  opacity: 1;
  font-size: 16px;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

::-moz-placeholder {
  color: #033dab;
  font-weight: bold;
  opacity: 1;
  font-size: 16px;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

:-ms-input-placeholder {
  color: #033dab;
  font-weight: bold;
  opacity: 1;
  font-size: 16px;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

::-ms-input-placeholder {
  color: #033dab;
  font-weight: bold;
  opacity: 1;
  font-size: 16px;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

::placeholder {
  color: #033dab;
  font-weight: bold;
  opacity: 1;
  font-size: 16px;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

input,
textarea {
  font-family: "DM Sans", sans-serif;
  color: #033dab;
}

button {
  font-weight: bold;
  color: #033dab;
  font-size: 25px;
  font-size: 1.25rem;
}

footer {
  color: #033dab;
}

nav {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  z-index: 10;
  padding: 30px 0 10px;
}
nav .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .navBar .mobileMenuButton {
  display: none;
}
nav .navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
nav .navBar ul li {
  margin-left: 25px;
  margin-bottom: 10px;
}
nav .navBar ul li a:hover, nav .navBar ul li a:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
nav .contactLink a {
  background-color: #eee2ee;
  padding: 20px 15px 8px 15px;
  border-radius: 500px 500px 0 0;
  border: 3px solid #033dab;
}
nav .contactLink a:hover, nav .contactLink a:focus {
  color: #ffffff;
  background-color: #033dab;
}

header {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../assets/headerImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
header .headerContent {
  position: relative;
}
header .headerContent ul {
  position: absolute;
  top: -130px;
  right: 70px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
}
.about div {
  width: calc(50% - 60px);
}
.about .aboutImage {
  margin-right: 30px;
  -ms-flex-item-align: center;
      align-self: center;
}
.about .aboutImage img {
  border-radius: 500px 500px 0 0;
}
.about .aboutContent {
  margin-left: 30px;
}

.skills {
  background-color: #eee2ee;
}
.skills .skillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skills .skillsList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 10em;
  text-align: center;
  padding: 20px;
}
.skills .skillsList li .icon {
  font-size: 60px;
  font-size: 3rem;
  margin-bottom: 10px;
}

.work .projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}
.work .projectContainer div {
  width: calc(50% - 60px);
}
.work .projectContainer .projectImage {
  margin-right: 30px;
}
.work .projectContainer .projectContent {
  margin-left: 30px;
}
.work .projectContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.work .projectContainer ul li {
  margin-right: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.work .projectContainer ul a {
  color: #033dab;
  padding: 5px;
  background-color: #eee2ee;
  border: 3px solid #033dab;
}
.work .projectContainer ul a:hover, .work .projectContainer ul a:focus {
  color: #ffffff;
  background-color: #033dab;
}

.contact {
  background-color: #eee2ee;
}
.contact .contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact .contactContainer div {
  width: calc(50% - 60px);
}
.contact .contactContainer .contactInfo {
  margin-right: 30px;
}
.contact .contactContainer .contactInfo p {
  margin-bottom: 50px;
  padding-right: 20px;
}
.contact .contactContainer .contactInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact .contactContainer .contactInfo ul li {
  margin-right: 10px;
}
.contact .contactContainer .contactInfo ul li a:hover, .contact .contactContainer .contactInfo ul li a:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.contact .contactContainer .contactForm {
  margin-left: 30px;
}
.contact .contactContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0.7;
  width: 100%;
  border: 3px solid #033dab;
}
.contact .contactContainer form input,
.contact .contactContainer form textarea,
.contact .contactContainer form .submit {
  border: none;
  padding: 15px;
}
.contact .contactContainer form input {
  border-bottom: 2px solid #033dab;
}
.contact .contactContainer form textarea {
  resize: none;
}
.contact .contactContainer form .submit {
  border-top: 2px dotted #033dab;
}

footer {
  background-color: #eee2ee;
}
footer p {
  text-align: center;
  margin: 0;
}
footer p a:hover, footer p a:focus {
  font-weight: bold;
}

@media (max-width: 1008px) {
  nav .navBar {
    position: relative;
  }
  nav .navBar h1 {
    width: 100%;
  }
  nav .navBar .mobileMenuButton {
    display: block;
    cursor: pointer;
    width: 50px;
    height: 50px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    background-color: transparent;
    border: none;
    z-index: 100;
  }
  nav .navBar ul {
    visibility: hidden;
    position: absolute;
    top: 60px;
    right: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 35%;
    padding: 80px 65px 40px;
    border: 3px solid #033dab;
    background-color: #eee2ee;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
  }
  nav .navBar ul li {
    margin: 10px;
  }
  nav .navBar .showMenu {
    right: -30px;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    visibility: visible;
  }
  .header {
    min-height: 75vh;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about div {
    width: 90%;
  }
  .about .aboutImage {
    margin-right: 0;
  }
  .about .aboutContent {
    margin-left: 0;
  }
  .contact .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .contactContainer div {
    width: 90%;
  }
  .contact .contactContainer .contactInfo {
    margin-right: 0;
  }
  .contact .contactContainer .contactForm {
    margin-left: 0;
    margin-top: 30px;
  }
}
@media (max-width: 880px) {
  .work .projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work .projectContainer div {
    width: 90%;
  }
  .work .projectContainer .projectImage {
    margin-right: 0;
  }
  .work .projectContainer .projectContent {
    margin-left: 0;
    padding: 30px;
  }
}
@media (max-width: 630px) {
  header {
    background-position: left;
  }
  header .headerContent ul {
    right: 0;
  }
  header h2 {
    font-size: 60px;
    font-size: 3rem;
    text-align: left;
  }
  header h3 {
    text-align: left;
  }
  .work .projectContent .linkList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work .projectContent .linkList a {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}