html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

section {
  padding-top: 150px;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

body {
  color: #075cfb;
  background-color: #f9f1ef;
}

html {
  font-size: 125%;
}

body {
  font-family: "DM Sans", sans-serif;
}

h1,
h4,
h5,
button,
footer {
  font-family: "Gaegu", cursive;
  text-transform: lowercase;
}

::-webkit-input-placeholder {
  text-transform: uppercase;
}

::-moz-placeholder {
  text-transform: uppercase;
}

:-ms-input-placeholder {
  text-transform: uppercase;
}

::-ms-input-placeholder {
  text-transform: uppercase;
}

h3,
nav ul,
.projectContent li,
::placeholder {
  text-transform: uppercase;
}

nav h1 {
  font-size: 48px;
  font-size: 2.4rem;
}
nav ul {
  font-weight: bold;
  letter-spacing: 1px;
}

header {
  color: #ffffff;
}
header h2 {
  font-size: 80px;
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 0;
  text-transform: lowercase;
  font-family: "Gaegu", cursive;
  letter-spacing: -2px;
}
header h3 {
  font-size: 18px;
  font-size: 0.9rem;
  letter-spacing: 2px;
  margin-top: 3px;
  text-transform: uppercase;
  text-align: right;
}
header a {
  font-size: 20px;
  font-size: 1rem;
  color: #075cfb;
  font-style: italic;
  background-color: #f0fd71;
}

h4 {
  font-size: 45px;
  font-size: 2.25rem;
  margin-bottom: 40px;
}

h5 {
  font-size: 35px;
  font-size: 1.75rem;
  margin-bottom: 5px;
}

p {
  line-height: 28px;
}

.projectContent li {
  font-size: 16px;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.projectContent p {
  margin-top: 30px;
}

.contact i {
  font-size: 32px;
  font-size: 1.6rem;
}

::-webkit-input-placeholder {
  color: #075cfb;
  font-weight: bold;
  opacity: 0.8;
  font-size: 16px;
  font-size: 0.8rem;
}

::-moz-placeholder {
  color: #075cfb;
  font-weight: bold;
  opacity: 0.8;
  font-size: 16px;
  font-size: 0.8rem;
}

:-ms-input-placeholder {
  color: #075cfb;
  font-weight: bold;
  opacity: 0.8;
  font-size: 16px;
  font-size: 0.8rem;
}

::-ms-input-placeholder {
  color: #075cfb;
  font-weight: bold;
  opacity: 0.8;
  font-size: 16px;
  font-size: 0.8rem;
}

::placeholder {
  color: #075cfb;
  font-weight: bold;
  opacity: 0.8;
  font-size: 16px;
  font-size: 0.8rem;
}

button {
  font-weight: bold;
  color: #075cfb;
  font-size: 25px;
  font-size: 1.25rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  position: fixed;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav ul li {
  margin-left: 25px;
}

header {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../assets/headerImage.jpg);
  background-size: cover;
  background-position: right;
}
header .headerContent {
  position: relative;
}
header .headerContent ul {
  position: absolute;
  top: -130px;
  right: 160px;
}
header .headerContent ul .emailLink {
  text-align: right;
}
header .headerContent ul a {
  background-color: #f0fd71;
  padding: 20px 20px 5px 20px;
  border-radius: 500px 500px 0 0;
  margin-top: 10px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about div {
  width: calc(50% - 60px);
}
.about .aboutImage {
  margin-right: 30px;
  -ms-flex-item-align: center;
      align-self: center;
}
.about .aboutImage img {
  border-radius: 500px 500px 0 0;
}
.about .aboutContent {
  margin-left: 30px;
}

.work .projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.work .projectContainer div {
  width: calc(50% - 40px);
}
.work .projectContainer .projectImage {
  margin-right: 20px;
}
.work .projectContainer .projectContent {
  margin-left: 20px;
}
.work .projectContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.work .projectContainer ul li {
  margin-right: 10px;
}
.work .projectContainer ul li a {
  padding: 20px 20px 20px 0;
  background-color: #f0fd71;
}

.contact .contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact .contactContainer div {
  width: calc(50% - 40px);
}
.contact .contactContainer .contactInfo {
  margin-right: 20px;
}
.contact .contactContainer .contactInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact .contactContainer .contactInfo ul li {
  margin-right: 10px;
}
.contact .contactContainer .contactForm {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  padding-top: 100px;
  padding-bottom: 10px;
}
footer p {
  text-align: center;
}